.Header {
  color: #ffffff;
  padding-bottom: 20px;
  padding-top: 40px;
  line-height: 40px;
}
.text-header {
	display: inline-block;
	line-height: 10px;
	font-size: 30px;
}
.info-logo{
  color: #3581B4;
  position: absolute;
  display: inline-block;
  right: 40px;
  background: #ffffff;
  width: 32px;
  height: 32px;
  font-weight: bold;
  line-height: 36px;
  font-size: 25px;
  border-radius: 19px;
}
