.TopComponent {
	width: 100%;
	background: grey;
}
.TopComponent-Logo {
	max-width:250px;
}
.TomComponent-midText{
	font-size: 17px;
	padding: 10px;
}
.TopComponent-BottomText{
	font-size: 15px;
	padding: 10px;
}
